In [2]:
import selenium as sl
import pandas as pd
from selenium import webdriver

In [116]:
web=webdriver.Chrome(r"C:\Users\Anil Kumar Reddy\chromedriver.exe")

In [128]:
#question 1
#unable to scrape this question 
url1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
web.get(url1)
vedio=web.find_elements_by_xpath("//th[@class='headerSort']")

In [130]:
name=[]
for i in vedio:
    vi=i.text
    name.append(vi)

In [129]:
name

[]

In [6]:
#quesion 2
url2='https://www.bcci.tv/international/fixtures'
web.get(url2)

In [7]:
date=web.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")

In [13]:
day_date_time=[]
for i in date:
    di=i.text
    day_date_time.append(di)

In [14]:
day_date_time

['Tuesday 23rd March 13:30 IST',
 'Friday 26th March 13:30 IST',
 'Sunday 28th March 13:30 IST']

In [18]:
series=web.find_elements_by_xpath("//strong[@class='fixture__name fixture__name--with-margin']")

In [22]:
Match_title=[]
for i in series:
    si=i.text
    Match_title.append(si)

In [25]:
place=web.find_elements_by_xpath("//p[@class='fixture__additional-info']")

In [27]:
places=[]
for i in place:
    pi=i.text
    places.append(pi)

In [28]:
places

['1st ODI Maharashtra Cricket Association Stadium, Pune',
 '2nd ODI Maharashtra Cricket Association Stadium, Pune',
 '3rd ODI Maharashtra Cricket Association Stadium, Pune']

In [29]:
ans2=pd.DataFrame({})
ans2['Date and time']=day_date_time
ans2['Place']=places
ans2['MatchTitle']=Match_title

In [30]:
ans2

,Date and time,Place,MatchTitle
0,Tuesday 23rd March 13:30 IST,1st ODI Maharashtra Cricket Association Stadiu...,1st ODI
1,Friday 26th March 13:30 IST,2nd ODI Maharashtra Cricket Association Stadiu...,2nd ODI
2,Sunday 28th March 13:30 IST,3rd ODI Maharashtra Cricket Association Stadiu...,3rd ODI

In [112]:
#quesion 3
# unable to scrape this data 
url3='https://www.guru99.com/exception-handling-selenium.html'
web.get(url3)
we=web.find_elements_by_xpath("//table[@class='table table-striped']")

In [114]:
wed=[]
for i in we:
    d=i.text
    wed.append(d)

In [115]:
wed
# getting the whole data in  this list

["Exception name Description\nElementNotVisibleException This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.\nElementNotSelectableException This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.\nNoSuchElementException This Exception occurs if an element could not be found.\nNoSuchFrameException This Exception occurs if the frame target to be switched to does not exist.\nNoAlertPresentException This Exception occurs when you switch to no presented alert.\nNoSuchWindowException This Exception occurs if the window target to be switch does not exist.\nStaleElementReferenceException This Selenium exception occurs happens when the web element is detached from the current DOM.\nSessionNotFoundException The WebDriver is acting after you quit the browser.\nTimeoutException Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.\nWebDriverException This Exception takes place when the WebDriver is acting right after you close the browser.\nConnectionClosedException This type of Exception takes place when there is a disconnection in the driver.\nElementClickInterceptedException The command may not be completed as the element receiving the events is concealing the element which was requested clicked.\nElementNotInteractableException This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.\nErrorInResponseException This happens while interacting with the Firefox extension or the remote driver server.\nErrorHandler.UnknownServerException Exception is used as a placeholder in case if the server returns an error without a stack trace.\nImeActivationFailedException This expectation will occur when IME engine activation has failed.\nImeNotAvailableException It takes place when IME support is unavailable.\nInsecureCertificateException Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.\nInvalidArgumentException It occurs when an argument does not belong to the expected type.\nInvalidCookieDomainException This happens when you try to add a cookie under a different domain instead of current URL.\nInvalidCoordinatesException This type of Exception matches an interacting operation that is not valid.\nInvalidElementStateExceptio It occurs when command can't be finished when the element is invalid.\nInvalidSessionIdException This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.\nInvalidSwitchToTargetException This occurs when the frame or window target to be switched does not exist.\nJavascriptException This issue occurs while executing JavaScript given by the user.\nJsonException It occurs when you afford to get the session when the session is not created.\nNoSuchAttributeException This kind of Exception occurs when the attribute of an element could not be found.\nMoveTargetOutOfBoundsException It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.\nNoSuchContextException ContextAware does mobile device testing.\nNoSuchCookieException This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.\nNotFoundException This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.\nRemoteDriverServerException This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.\nScreenshotException It is not possible to capture a screen.\nSessionNotCreatedException It happens when a new session could not be successfully created.\nUnableToSetCookieException This occurs if a driver is unable to set a cookie.\nUnexpectedTagNameException Happens if a support class did not get a web element as expected.\nUnhandledAlertException This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.\nUnexpectedAlertPresentException It occurs when there is the appearance of an unexpected alert.\nUnknownMethodException This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.\nUnreachableBrowserException This Exception occurs only when the browser is not able to be opened or crashed because of some reason.\nUnsupportedCommandException This occurs when remote WebDriver does n't send valid commands as expected."]

In [ ]:
from selenium.common.exceptions import ElementNotInteractableException as e
try:
    element=web.find_elements_by_xpath("//table[@class='table table-striped']")
    
except e:
    print("Exception raised: ",e)

In [96]:
#question 4
# facing same class issue with question 8 also 
url4='http://statisticstimes.com/economy/india/indian-states-gdp.php'
web.get(url4)
rk=web.find_elements_by_xpath("//td[@class='data1']")

In [99]:
Rank =[]
for i in rk[0:33]:
    ri=i.text
    Rank.append(ri)

In [100]:
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [101]:
st=web.find_elements_by_xpath("//td[@class='name']")
state=[]
for i in st[0:33]:
    si=i.text
    state.append(si)

In [102]:
state

['Maharashtra',
 'Uttar Pradesh',
 'Tamil Nadu',
 'Karnataka',
 'Gujarat',
 'West Bengal',
 'Rajasthan',
 'Andhra Pradesh',
 'Telangana',
 'Madhya Pradesh',
 'Kerala',
 'Delhi',
 'Haryana',
 'Bihar',
 'Punjab',
 'Odisha',
 'Assam',
 'Chhattisgarh',
 'Jharkhand',
 'Uttarakhand',
 'Jammu & Kashmir',
 'Himachal Pradesh',
 'Goa',
 'Tripura',
 'Chandigarh',
 'Puducherry',
 'Meghalaya',
 'Sikkim',
 'Manipur',
 'Nagaland',
 'Arunachal Pradesh',
 'Mizoram',
 'Andaman & Nicobar Islands']

In [108]:
gd19=web.find_elements_by_xpath("//td[@class='data']")
gdsp19_20=[]
for i in gd19:
    g1=i.text
    gdsp19_20.append(g1)

In [104]:
gd18=web.find_elements_by_xpath("//td[@class='data sorting_1']")
gdp18_19=[]
for i in gd18[0:33]:
    g1=i.text
    gdp18_19.append(g1)

In [105]:
share=[]
sh=web.find_elements_by_xpath("//td[@class='data']")
for i in sh[0:33]:
    s1=i.text
    share.append(s1)

In [109]:
# need to split this data
gdsp19_20

['-',
 '13.88%',
 '398.145',
 '-',
 '2,039,074',
 '1,794,508',
 '8.79%',
 '252.278',
 '1,187,277',
 '1,137,469',
 '1,845,853',
 '8.59%',
 '246.529',
 '1,312,929',
 '1,215,307',
 '1,699,115',
 '8.14%',
 '233.552',
 '1,201,031',
 '1,124,423',
 '-',
 '7.92%',
 '227.276',
 '-',
 '1,186,379',
 '1,253,832',
 '5.75%',
 '164.820',
 '793,223',
 '739,525',
 '1,020,989',
 '4.97%',
 '142.543',
 '711,627',
 '677,428',
 '972,782',
 '4.55%',
 '130.501',
 '672,018',
 '621,301',
 '969,604',
 '4.54%',
 '130.210',
 '663,258',
 '612,828',
 '906,672',
 '4.27%',
 '122.431',
 '561,801',
 '522,009',
 '-',
 '4.12%',
 '118.206',
 '-',
 '559,412',
 '856,112',
 '4.08%',
 '117.180',
 '634,408',
 '590,569',
 '831,610',
 '3.87%',
 '111.024',
 '572,240',
 '531,085',
 '611,804',
 '2.80%',
 '80.204',
 '414,977',
 '375,651',
 '574,760',
 '2.77%',
 '79.601',
 '418,868',
 '397,669',
 '531,374',
 '2.59%',
 '74.437',
 '402,383',
 '382,218',
 '-',
 '1.67%',
 '47.769',
 '-',
 '234,048',
 '329,180',
 '1.60%',
 '45.982',
 '243,477',
 '231,182',
 '328,598',
 '1.57%',
 '44.945',
 '240,036',
 '224,986',
 '-',
 '1.30%',
 '37.186',
 '-',
 '193,273',
 '-',
 '0.82%',
 '23.584',
 '-',
 '112,755',
 '165,472',
 '0.81%',
 '23.265',
 '124,403',
 '117,851',
 '-',
 '0.39%',
 '11.065',
 '-',
 '62,539',
 '55,358',
 '0.26%',
 '7.538',
 '40,527',
 '36,963',
 '-',
 '0.22%',
 '6.369',
 '-',
 '31,192',
 '40,802',
 '0.19%',
 '5.543',
 '26,526',
 '24,442',
 '36,572',
 '0.18%',
 '5.063',
 '26,695',
 '24,682',
 '32,496',
 '0.15%',
 '4.344',
 '20,017',
 '18,722',
 '-',
 '0.15%',
 '4.214',
 '-',
 '19,300',
 '-',
 '0.14%',
 '4.126',
 '-',
 '17,647',
 '-',
 '0.13%',
 '3.721',
 '-',
 '16,676',
 '-',
 '0.10%',
 '2.952',
 '-',
 '14,524',
 '-',
 '-',
 '-',
 '-',
 '-',
 '20,339,849',
 '18,971,237',
 '',
 '2,869',
 '14,565,951',
 '13,981,426',
 '-',
 '13.90%',
 '-',
 '1,794,123',
 '1,603,083',
 '8.88%',
 '1,039,180',
 '995,999',
 '1,659,210',
 '8.73%',
 '1,167,776',
 '1,079,894',
 '1,550,297',
 '8.39%',
 '1,085,599',
 '1,016,514',
 '-',
 '7.88%',
 '-',
 '1,036,859',
 '1,150,711',
 '5.93%',
 '713,376',
 '662,432',
 '916,014',
 '5.03%',
 '630,693',
 '600,433',
 '881,873',
 '4.66%',
 '594,806',
 '549,481',
 '875,429',
 '4.62%',
 '595,605',
 '550,584',
 '827,019',
 '4.39%',
 '496,798',
 '461,903',
 '-',
 '4.21%',
 '-',
 '513,322',
 '779,647',
 '4.20%',
 '568,265',
 '529,739',
 '755,790',
 '3.97%',
 '514,983',
 '477,834',
 '562,710',
 '2.90%',
 '377,276',
 '340,512',
 '517,521',
 '2.81%',
 '374,015',
 '354,830',
 '467,554',
 '2.58%',
 '351,661',
 '333,146',
 '-',
 '1.68%',
 '-',
 '207,193',
 '301,242',
 '1.62%',
 '218,232',
 '204,423',
 '288,041',
 '1.59%',
 '210,837',
 '200,453',
 '-',
 '1.32%',
 '-',
 '173,211',
 '143,063',
 '0.79%',
 '107,171',
 '101,534',
 '-',
 '0.77%',
 '-',
 '91,666',
 '-',
 '0.39%',
 '-',
 '56,630',
 '49,601',
 '0.27%',
 '35,821',
 '32,830',
 '-',
 '0.22%',
 '-',
 '27,565',
 '37,134',
 '0.20%',
 '23,591',
 '21,730',
 '32,833',
 '0.18%',
 '23,564',
 '21,779',
 '-',
 '0.15%',
 '-',
 '17,228',
 '28,391',
 '0.15%',
 '17,060',
 '15,972',
 '-',
 '0.15%',
 '-',
 '15,381',
 '-',
 '0.13%',
 '-',
 '15,013',
 '-',
 '0.10%',
 '-',
 '12,791',
 '-',
 '-',
 '-',
 '-',
 '17,999,754',
 '16,789,288',
 '',
 '12,733,366',
 '12,219,693']

In [ ]:
# need to do question 4

In [31]:
#question 5
url5='https://github.com/trending'
web.get(url5)
des=web.find_elements_by_xpath("//p[@class='col-9 text-gray my-1 pr-4']")
description=[]
for i in des:
    di=i.text
    description.append(di)

In [32]:
description

['One second to read GitHub code with VS Code.',
 'Azure Quickstart Templates',
 'Fetch currently trending stocks on Reddit',
 'The source for REST API specifications for Microsoft Azure.',
 'Collection of 5000+ publicly available IPTV channels from all over the world',
 '🎥 Create videos programmatically in React',
 'A tool for secrets management, encryption as a service, and privileged access management',
 'Example notebooks that show how to apply machine learning, deep learning and reinforcement learning in Amazon SageMaker',
 'My notes on the various go profiling methods that are available.',
 'A video written in React',
 'Firefox for iOS',
 'Microsoft Azure PowerShell',
 'Cybernetically enhanced web apps',
 'Virtual whiteboard for sketching hand-drawn like diagrams',
 'Yazılım Geliştirici Yetiştirme Kampı Büyük Proje',
 'React Hooks — 👍',
 'Terraform AWS provider',
 '✅ The Node.js best practices list (February 2021)',
 'CORTX Community Object Storage is 100% open source object storage uniquely optimized for mass capacity storage devices.',
 'A Curated List of Awesome Facebook Libra Resources',
 '1000+ Hand-Crafted Go Examples, Exercises, and Quizzes',
 'A list of useful payloads and bypass for Web Application Security and Pentest/CTF',
 'Group Policy Eater is a PowerShell module that aims to gather information about Group Policies but also allows fixing issues that you may find in them.',
 'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible. It aims to enhance the default A320neo by improving the systems depth and functionality to bring it up to payware-level, all for free.']

In [33]:
lang=web.find_elements_by_xpath("//span[@class='d-inline-block ml-0 mr-3']")

In [38]:
language=[]
for i in lang:
    li=i.text
    language.append(li)

In [40]:
ti=web.find_elements_by_xpath("//span[@class='text-normal']")

In [42]:
title=[]
for i  in ti:
    o=i.text
    title.append(o)

In [62]:
ci=web.find_elements_by_xpath("//a[@class='link-gray-dark no-underline']")
cont=[]
for i in ci:
    o=i.text
    cont.append(o)

In [68]:
#  unable to scarpe contributer count
# answer 5
ans5=pd.DataFrame({})
ans5['Title']=Title
ans5['Language_used']=language
ans5['Description']=description

In [69]:
ans5

,Title,Language_used,Description
0,conwnet /,TypeScript,One second to read GitHub code with VS Code.
1,Azure /,PowerShell,Azure Quickstart Templates
2,iam-abbas /,Python,Fetch currently trending stocks on Reddit
3,Azure /,TypeScript,The source for REST API specifications for Mic...
4,iptv-org /,JavaScript,Collection of 5000+ publicly available IPTV ch...
5,JonnyBurger /,TypeScript,🎥 Create videos programmatically in React
6,hashicorp /,Go,"A tool for secrets management, encryption as a..."
7,aws /,Jupyter Notebook,Example notebooks that show how to apply machi...
8,felixge /,Jupyter Notebook,My notes on the various go profiling methods t...
9,JonnyBurger /,TypeScript,A video written in React
10,mozilla-mobile /,Swift,Firefox for iOS
11,Azure /,C#,Microsoft Azure PowerShell
12,sveltejs /,TypeScript,Cybernetically enhanced web apps
13,excalidraw /,TypeScript,Virtual whiteboard for sketching hand-drawn li...
14,engindemirog /,C#,Yazılım Geliştirici Yetiştirme Kampı Büyük Proje
15,streamich /,TypeScript,React Hooks — 👍
16,hashicorp /,Go,Terraform AWS provider
17,jomjol /,C++,✅ The Node.js best practices list (February 2021)
18,goldbergyoni /,JavaScript,CORTX Community Object Storage is 100% open so...
19,Seagate /,Jupyter Notebook,A Curated List of Awesome Facebook Libra Resou...
20,reed-hong /,Go,"1000+ Hand-Crafted Go Examples, Exercises, and..."
21,inancgumus /,Python,A list of useful payloads and bypass for Web A...
22,swisskyrepo /,PowerShell,Group Policy Eater is a PowerShell module that...
23,EvotecIT /,JavaScript,The A32NX Project is a community driven open s...

In [72]:
# question 6
url6="https://www.billboard.com/charts/hot-100"
web.get(url6)

In [73]:
ne=web.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
name=[]
for i in ne:
    ni=i.text
    name.append(ni)

In [75]:
ai=web.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
artist=[]
for i in ai:
    ti=i.text
    artist.append(ti)

In [76]:
di=web.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--last']")
l_rank=[]
for i in di:
    de=i.text
    l_rank.append(de)

In [81]:
pi=web.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--peak']")
peak=[]
for i in pi:
    di=i.text
    peak.append(di)

In [82]:
wi=web.find_elements_by_xpath("//div[@class='chart-element__meta text--center color--secondary text--week']")
week=[]
for i in wi:
    ui=i.text
    week.append(ui)

In [83]:
ans6=pd.DataFrame({})
ans6['Song name']=name
ans6['Artist name']=artist
ans6['Last Week Rank']=l_rank
ans6['Peak Rank']=peak
ans6['Weeks on Board']=week

In [84]:
# answer 6
ans6

,Song name,Artist name,Last Week Rank,Peak Rank,Weeks on Board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

In [6]:
#question 7
url7='https://www.naukri.com/data-science-jobs?k=data%20science'
web.get(url7)
ni=web.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
name=[]
for i in ni:
    di=i.text
    name.append(di)

In [7]:
ci=web.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company=[]
for i in ci:
    di=i.text
    company.append(di)

In [10]:
si=web.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']")
skills=[]
for i in si:
    se=i.text
    skills.append(se)

In [11]:
li=web.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']")
location=[]
for i in li:
    de=i.text
    location.append(de)

In [15]:
ans7=pd.DataFrame({})
ans7['Designation']=name
ans7['Companay Name']=company
ans7['Skills Required']=skills
ans7['Location']=location[0:20]

In [16]:
# answer 7
ans7

,Designation,Companay Name,Skills Required,Location
0,Data Science/AIML Intern,Hewlett Packard Enterprise,"Streams-Electronics & Communication, EEE, Comp...",0-1 Yrs
1,"Machine Learning-Python, AI / ML developer, Da...",Infomize Technologies,"Bachelors degree in Computer Science, Mathemat...",Not disclosed
2,Data Science,Capgemini Technology Services India Limited,Experience with Deep learning /neural networks...,Bengaluru
3,Data Science Engineer - Statistical Modeling/ ...,Lera Technologies Pvt. Ltd,"Masters, or equivalent experience in a quantit...",1-4 Yrs
4,Full Stack Data Science Engineer - Machine Lea...,Thinkbridge,In addition to standard benefits such as paid ...,"2,00,000 - 7,00,000 PA."
5,Data Science,Diverse Lynx,Job descriptions:- Works as a senior member in...,"Gandhinagar, Vadodara, Ahmedabad"
6,Data Science Engineer,Everwell Health Solutions Pvt Ltd,PHD with 1 year experience or Masters with thr...,6-9 Yrs
7,Data Science - Team Lead (CRM),Shell India Markets Private Limited,Roles and ResponsibilitiesThe RoleJob Location...,Not disclosed
8,Data Science - Team Lead (Retail - CRM),Shell India Markets Private Limited,The Role Typically: Executes repetitive or pat...,Chennai
9,BI Analyst ( Data Science ),American Bureau of Shipping,"Specific Responsibilities As a BI Analyst, you...",7-12 Yrs
10,Urgently Hiring Trainee - Data Science :: Hite...,Hi-Tech iSolutions LLP,Look forward to hire candidates with stability...,Not disclosed
11,Data Science Engineer - Java / Python / R Deve...,Intellicar Telematics Pvt Ltd,Roles and ResponsibilitiesDevelop code in Java...,India
12,Senior Manager Ops Data Science,RANDSTAD INDIA PVT LTD,Must have a strong undergraduate education and...,2-7 Yrs
13,"Trainer: Machine Learning, Data Science,Intern...",SYMBIOSIS SKILLS AND PROFESSIONAL UNIVERSITY,3 D Printing : To train the students for insta...,Not disclosed
14,Senior Data Scientist - Data Sciences,GEP,"MS / PhD degree in Computer Science, Computer ...",India
15,Online Faculty For Data Science & Business Ana...,LINC Education,The role will be part-time (15-20 hours per we...,2-6 Yrs
16,Freshers/Internship - Data Science/ Machine Le...,IIBM,Required Freshers with good knowledge of pytho...,Not disclosed
17,Senior Analytics Consultant-Data Science-Pune,eClerx Services Ltd.,"Identify the right algorithms, tech stack, sam...",Gurgaon
18,Require candidates-Data Science/ Machine Learn...,CHANDRA PUMPS PRIVATE LIMITED,Looking for candidates who are passionate abou...,5-10 Yrs
19,Data Science Team Lead,Shell India Markets Private Limited,Roles and ResponsibilitiesThe RoleThe Data Sci...,Not disclosed

In [4]:
#quesion 8
# unable to scape this data 

url8='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
web.get(url8)

In [13]:
Name=[]
ni=web.find_elements_by_xpath("//td[@class='left']")
for i in ni:
    
    ne=i.text
    Name.append(ne)

In [33]:
a=Name[0:5]
b=Name[5:10]

In [47]:
Name

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [35]:
b

['2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury']

In [36]:
temp = pd.DataFrame({})
temp['INfo']=a
temp['I']=b

In [37]:
temp

                INfo                                     I
0                  1                                     2
1  Da Vinci Code,The  Harry Potter and the Deathly Hallows
2         Brown, Dan                         Rowling, J.K.
3          5,094,805                             4,475,152
4         Transworld                            Bloomsbury

In [5]:
ge=web.find_elements_by_xpath("//td[@class='last left']")
genre=[]
for i in ge:
    g=i.text
    genre.append(g)

In [6]:
genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [ ]:
# uanble to do this question

In [32]:
#question 9
url9='https://www.imdb.com/list/ls095964455/'
web.get(url9)

In [35]:
ni=web.find_elements_by_xpath("//h3[@class='lister-item-header']")
name=[]
for i in ni:
    d=i.text
    name.append(d)

In [38]:
gi=web.find_elements_by_xpath("//span[@class='genre']")
genre=[]
for i in gi:
    d=i.text
    genre.append(d)

In [39]:
vi=web.find_elements_by_xpath("//p[@class='text-muted text-small']")
votes=[]
for i in vi:
    d=i.text
    votes.append(d)

In [52]:
ri=web.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']")
rate=[]
for i in ri:
    d=i.text
    rate.append(d)

In [41]:
ro=web.find_elements_by_xpath("//span[@class='runtime']")
time=[]
for i in ro:
    d=i.text
    time.append(d)

In [47]:
ans9=pd.DataFrame({})
ans9['Name and Year']=name
ans9['Genre']=genre
ans9['Rating']=rat[0:100]
ans9['Time duration']=time
ans9['Votes']=votes[0:100]

In [48]:
# unable to scrape rating correctly 
ans9

,Name and Year,Genre,Rating,Time duration,Votes
0,1. Game of Thrones (2011–2019),"Action, Adventure, Drama",9.3,57 min,"TV-MA | 57 min | Action, Adventure, Drama"
1,2. Stranger Things (2016– ),"Drama, Fantasy, Horror",,51 min,"Stars: Emilia Clarke, Peter Dinklage, Kit Hari..."
2,3. The Walking Dead (2010– ),"Drama, Horror, Thriller",Rate,44 min,"Votes: 1,769,203"
3,4. 13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",,60 min,"TV-14 | 51 min | Drama, Fantasy, Horror"
4,5. The 100 (2014–2020),"Drama, Mystery, Sci-Fi",,43 min,"Stars: Millie Bobby Brown, Finn Wolfhard, Wino..."
...,...,...,...,...,...
95,96. Reign (2013–2017),"Drama, Fantasy",,42 min,"Votes: 333,225"
96,97. A Series of Unfortunate Events (2017–2019),"Adventure, Comedy, Drama",,50 min,"TV-14 | 45 min | Drama, Fantasy, Horror"
97,98. Criminal Minds (2005–2020),"Crime, Drama, Mystery",,42 min,"Stars: Joseph Morgan, Daniel Gillies, Claire H..."
98,99. Scream: The TV Series (2015–2019),"Crime, Drama, Horror",,45 min,"Votes: 117,468"
99,100. The Haunting of Hill House (2018),"Drama, Horror, Mystery",,572 min,"TV-PG | 43 min | Action, Adventure, Drama"

In [49]:
#question 10
url10='https://archive.ics.uci.edu/ml/datasets/Iris'
web.get(url10)

In [50]:
ne=web.find_elements_by_xpath("//span[@class='heading']")

In [53]:
name=[]
for i in ne:
    d=i.text
    name.append(d)

In [54]:
de=web.find_elements_by_xpath("//p[@class='normal']")
d_c=[]
for i in de:
    d=i.text
    d_c.append(d)

In [57]:
d_c[0:19]

['Abstract: Famous database; from Fisher, 1936',
 'Data Set Characteristics:  ',
 'Multivariate',
 'Number of Instances:',
 '150',
 'Area:',
 'Life',
 'Attribute Characteristics:',
 'Real',
 'Number of Attributes:',
 '4',
 'Date Donated',
 '1988-07-01',
 'Associated Tasks:',
 'Classification',
 'Missing Values?',
 'No',
 'Number of Web Hits:',
 '3822312']

In [83]:
a1=d_c[1:3]
a2=d_c[3:5]
a3=d_c[7:9]
a4=d_c[9:11]
a5=d_c[11:13]
a6=d_c[13:15]
a7=d_c[15:17]

In [92]:
ans10= pd.DataFrame(list(zip(a1,a2,a3,a4,a5,a6,a7)), 
               columns =['1','2','3','4','5','6','7'])

In [93]:
ans10

,1,2,3,4,5,6,7
0,Data Set Characteristics:,Number of Instances:,Attribute Characteristics:,Number of Attributes:,Date Donated,Associated Tasks:,Missing Values?
1,Multivariate,150,Real,4,1988-07-01,Classification,No