In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [3]:
imdb=bs(page.content,"html.parser")

In [4]:
name=imdb.find_all("td",class_="titleColumn")

In [5]:
name_tag=[]
for i in name[0:100]:
    name_tag.append(i.get_text().replace('\n',""))

In [6]:
name_tag

['      1.      Pather Panchali(1955)',
 '      2.      Gol Maal(1979)',
 '      3.      Ratsasan(2018)',
 '      4.      Nayakan(1987)',
 '      5.      Anbe Sivam(2003)',
 '      6.      Apur Sansar(1959)',
 '      7.      Natsamrat(2016)',
 '      8.      Kireedam(1989)',
 '      9.      Pariyerum Perumal(2018)',
 '      10.      Black Friday(2004)',
 '      11.      Manichitrathazhu(1993)',
 '      12.      Thevar Magan(1992)',
 '      13.      96(2018)',
 '      14.      Kumbalangi Nights(2019)',
 '      15.      3 Idiots(2009)',
 '      16.      Taare Zameen Par(2007)',
 '      17.      Visaaranai(2015)',
 '      18.      Dangal(2016)',
 '      19.      Anand(1971)',
 '      20.      Thalapathi(1991)',
 '      21.      Aparajito(1956)',
 '      22.      Vikram Vedha(2017)',
 '      23.      Jaane Bhi Do Yaaro(1983)',
 '      24.      Pyaasa(1957)',
 '      25.      Asuran(2019)',
 '      26.      Guide(1965)',
 '      27.      Kannathil Muthamittal(2002)',
 '      28.      Chupke Chupke(1975)',
 '      29.      Jersey(2019)',
 '      30.      Kaithi(2019)',
 '      31.      Thani Oruvan(2015)',
 '      32.      Vada Chennai(2018)',
 '      33.      Soorarai Pottru(2020)',
 '      34.      Khosla Ka Ghosla!(2006)',
 '      35.      Drishyam(2013)',
 '      36.      Aruvi(2016)',
 '      37.      Super Deluxe(2019)',
 '      38.      Peranbu(2018)',
 '      39.      Tumbbad(2018)',
 '      40.      Andhadhun(2018)',
 '      41.      Agent Sai Srinivasa Athreya(2019)',
 '      42.      Mahanati(2018)',
 '      43.      Kaakkaa Muttai(2014)',
 '      44.      Premam(2015)',
 '      45.      Dhuruvangal Pathinaaru(2016)',
 '      46.      Satya(1998)',
 '      47.      Shahid(2012)',
 '      48.      Bangalore Days(2014)',
 '      49.      Soodhu Kavvum(2013)',
 '      50.      Mudhalvan(1999)',
 '      51.      Anniyan(2005)',
 '      52.      Gangs of Wasseypur(2012)',
 '      53.      Papanasam(2015)',
 '      54.      Jigarthanda(2014)',
 '      55.      Talvar(2015)',
 '      56.      Paan Singh Tomar(2012)',
 '      57.      Bhaag Milkha Bhaag(2013)',
 '      58.      Nil Battey Sannata(2015)',
 '      59.      Swades: We, the People(2004)',
 '      60.      Hera Pheri(2000)',
 '      61.      Sholay(1975)',
 '      62.      Drishyam(2015)',
 '      63.      Pithamagan(2003)',
 '      64.      Black(2005)',
 '      65.      Chak De! India(2007)',
 '      66.      Jo Jeeta Wohi Sikandar(1992)',
 '      67.      Sairat(2016)',
 '      68.      Charulata(1964)',
 '      69.      Mughal-E-Azam(1960)',
 '      70.      Rang De Basanti(2006)',
 '      71.      Queen(2013)',
 '      72.      Ustad Hotel(2012)',
 '      73.      Udaan(2010)',
 '      74.      Article 15(2019)',
 '      75.      Zindagi Na Milegi Dobara(2011)',
 '      76.      A Wednesday(2008)',
 '      77.      Dil Chahta Hai(2001)',
 '      78.      Munna Bhai M.B.B.S.(2003)',
 '      79.      Sarfarosh(1999)',
 '      80.      Andaz Apna Apna(1994)',
 '      81.      Masaan(2015)',
 '      82.      OMG: Oh My God!(2012)',
 '      83.      Roja(1992)',
 '      84.      Lagaan: Once Upon a Time in India(2001)',
 '      85.      Maheshinte Prathikaaram(2016)',
 '      86.      Kahaani(2012)',
 '      87.      Alai Payuthey(2000)',
 '      88.      Theeran adhigaaram ondru(2017)',
 '      89.      PK(2014)',
 '      90.      Baasha(1995)',
 '      91.      Uri: The Surgical Strike(2018)',
 '      92.      Iqbal(2005)',
 '      93.      Pink(2016)',
 '      94.      Barfi!(2012)',
 '      95.      The Legend of Bhagat Singh(2002)',
 '      96.      Bommarillu(2006)',
 '      97.      Lucia(2013)',
 '      98.      Maqbool(2003)',
 '      99.      Bombay(1995)',
 '      100.      Omkara(2006)']

In [7]:
year=imdb.find_all("span",class_="secondaryInfo")
year_tag=[]
for i in year[0:100]:
    year_tag.append(i.get_text().replace("\n",""))

In [8]:
rating=imdb.find_all("td",class_="ratingColumn imdbRating")
rating_tag=[]
for i in rating[0:100]:
    rating_tag.append(i.get_text().replace("\n",""))

In [9]:
rating_tag

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [10]:
import pandas as pd
top100=pd.DataFrame({})

In [11]:
top100['Movie Name']=name_tag
top100['Rating']=rating_tag
top100['Year']=year_tag

In [12]:
top100

                             Movie Name Rating    Year
0         1.      Pather Panchali(1955)    8.5  (1955)
1                2.      Gol Maal(1979)    8.5  (1979)
2                3.      Ratsasan(2018)    8.5  (2018)
3                 4.      Nayakan(1987)    8.5  (1987)
4              5.      Anbe Sivam(2003)    8.5  (2003)
..                                  ...    ...     ...
95            96.      Bommarillu(2006)    8.0  (2006)
96                 97.      Lucia(2013)    8.0  (2013)
97               98.      Maqbool(2003)    8.0  (2003)
98                99.      Bombay(1995)    8.0  (1995)
99               100.      Omkara(2006)    8.0  (2006)

[100 rows x 3 columns]